body{
  top: 0%;
  left: 0%;
background-color: #35374B;
}
.header{
  position: absolute;
  background-color: #35374B;
  width:100%;
}
.header_top{
  padding-left: 30px;
  display: flex;
  justify-content: center;
  font-family:fantasy;
  color:#50727B;
  font-size:70px;
}
.header_top_1{
  padding-left: 30px;
  display: flex;
  justify-content: center;
  font-family:fantasy;
  color:#78A083;
  font-size:30px;
}

.FORM{
 position:relative;
  width: 310px;
  height: 390px;
  background: #78A083;
  padding: 10px;
  margin-left: 10px;
  border-radius: 7px;
  margin:5px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.FORM input{
  display:flex;
  flex-wrap: wrap;
  width: 300px;
  margin-top: 20px;
  height: 25px;
  border:none ;
  border-radius: 5px;
}
.FORM button{
  position: relative;
  left: 0px;
  margin-left: 20px;
  margin:5px;
  top:30px;
  height: 30px;
  width: 70px;
  border-radius: 6px;
  border: none;
}
button:hover {
  background-color:#35374B;
}
#histogram{
  height:440px
}
#histogramp{
  height:485px
}
.form_name{
  font-family:fantasy;
  color:#50727B;
}
.setnavform{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.link{
  text-decoration: none;
  color:  #50727B;;
  font-family: fantasy;
  background-color: #97c7a5;
  font-size: 20px;
  margin:5px;
  border-radius: 10px;
  padding: 7px;
}
.link:hover{
  background-color: #beebca;
}
.setbottamdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.posCanvas{
  margin-left: 180px;
}
@media screen and (max-width: 800px) {
  .setbottamdiv{
    align-items:flex-start;
  }
  .header_top{
    justify-self:left
  }
  .header_top_1{
    justify-self: left
  }
  .posCanvas{
    margin-left: 0;
  }
}