body{
  top: 0%;
  left: 0%;
background-color: #35374B;
}
.header{
  position: absolute;
  background-color: #35374B;
  width:100%;
}
.header_top{
  padding-left: 30px;
  font-family:fantasy;
  color:#50727B;
  font-size:70px;
}
.header_top_1{
  padding-left: 30px;
  font-family:fantasy;
  color:#78A083;
  font-size:30px;
}

.FORM{
 position:relative;
  width: 310px;
  height: 350px;
  background: #78A083;
  padding: 10px;
  border-radius: 7px;
  margin:5px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.FORM input{
  display:flex;
  flex-wrap: wrap;
  width: 300px;
  margin-top: 20px;
  height: 25px;
  border:none ;
  border-radius: 5px;
}
.FORM button{
  position: relative;
  left: 30px;
  margin-left: 50px;
  top:30px;
  height: 30px;
  width: 70px;
  border-radius: 6px;
  border: none;
}
button:hover {
  background-color:#35374B;
}
